<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Article</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div class="banner-article">
        <h1>Nuestros ingredientes</h1>
        <p>Subheading that sets up context, shares more info about the author, or generally gets people psyched to keep reading</p>
        <img id="banner-img" src="../assets/images/banner.png" alt="Mesa con ingredientes frescos y comida">
    </div>
</body>
</html>